@import 'tailwindcss';

@plugin "tailwindcss-animate";
@import 'tw-animate-css';

:root {
	--base-black: #000;
	--base-white: #fff;

	--gray-1: oklch(0.99 0 0);
	--gray-2: oklch(0.98 0 0);
	--gray-3: oklch(0.96 0 0);
	--gray-4: oklch(0.93 0 0);
	--gray-5: oklch(0.91 0 0);
	--gray-6: oklch(0.89 0 0);
	--gray-7: oklch(0.85 0 0);
	--gray-8: oklch(0.79 0 0);
	--gray-9: oklch(0.64 0 0);
	--gray-10: oklch(0.61 0 0);
	--gray-11: oklch(0.5 0 0);
	--gray-12: oklch(0.24 0 0);

	--accent-1: oklch(0.99 0 48.72);
	--accent-2: oklch(0.98 0.01 43.28);
	--accent-3: oklch(0.95 0.03 49.59);
	--accent-4: oklch(0.91 0.05 50.5);
	--accent-5: oklch(0.88 0.07 48.76);
	--accent-6: oklch(0.85 0.09 47.61);
	--accent-7: oklch(0.81 0.12 44.04);
	--accent-8: oklch(0.75 0.14 43.8);
	--accent-9: oklch(0.68 0.18 44.18);
	--accent-10: oklch(0.64 0.19 44.07);
	--accent-11: oklch(0.59 0.18 42.64);
	--accent-12: oklch(0.36 0.09 42.69);

	--green-1: oklch(0.99 0.01 145.54);
	--green-2: oklch(0.98 0.01 145.5);
	--green-3: oklch(0.96 0.02 145.4);
	--green-4: oklch(0.94 0.04 146.47);
	--green-5: oklch(0.9 0.05 145.99);
	--green-6: oklch(0.86 0.07 146.77);
	--green-7: oklch(0.8 0.09 147.26);
	--green-8: oklch(0.72 0.13 148.14);
	--green-9: oklch(0.65 0.15 147.39);
	--green-10: oklch(0.62 0.14 147.19);
	--green-11: oklch(0.53 0.13 147.2);
	--green-12: oklch(0.33 0.05 148.59);

	--amber-1: oklch(0.99 0 84.56);
	--amber-2: oklch(0.99 0.02 99.1);
	--amber-3: oklch(0.97 0.07 100.39);
	--amber-4: oklch(0.94 0.1 97.91);
	--amber-5: oklch(0.92 0.13 98.23);
	--amber-6: oklch(0.88 0.12 93.39);
	--amber-7: oklch(0.83 0.12 86.69);
	--amber-8: oklch(0.76 0.14 76.72);
	--amber-9: oklch(0.85 0.16 84.13);
	--amber-10: oklch(0.83 0.17 80.85);
	--amber-11: oklch(0.57 0.13 63.94);
	--amber-12: oklch(0.35 0.05 54.17);

	--red-1: oklch(0.99 0 17.21);
	--red-2: oklch(0.98 0.01 17.3);
	--red-3: oklch(0.96 0.02 13.86);
	--red-4: oklch(0.92 0.04 16);
	--red-5: oklch(0.89 0.06 16.93);
	--red-6: oklch(0.85 0.08 17.86);
	--red-7: oklch(0.8 0.1 18.77);
	--red-8: oklch(0.74 0.13 20.7);
	--red-9: oklch(0.63 0.21 25.82);
	--red-10: oklch(0.61 0.22 26.52);
	--red-11: oklch(0.57 0.22 27.81);
	--red-12: oklch(0.34 0.12 26.17);
}

@theme inline {
	--color-*: initial;
	--color-transparent: transparent;
	--color-current: currentColor;

	--color-surface: var(--base-white);
	--color-muted: var(--gray-2);
	--color-inset: var(--gray-3);
	--color-disabled: var(--gray-3);
	--color-highlight: var(--gray-5);
	--color-emphasis: var(--gray-11);
	--color-inverted: var(--gray-12);
	--color-overlay: var(--base-black) / 60;
	--color-accent: var(--accent-11);
	--color-accent-muted: var(--accent-3);
	--color-success: var(--green-10);
	--color-success-muted: var(--green-3);
	--color-warning: var(--amber-10);
	--color-warning-muted: var(--amber-3);
	--color-destructive: var(--red-10);
	--color-destructive-muted: var(--red-3);

	--color-foreground: var(--gray-12);
	--color-muted-foreground: var(--gray-10);
	--color-inverted-foreground: var(--gray-1);
	--color-disabled-foreground: var(--gray-7);
	--color-accent-foreground: var(--accent-11);
	--color-success-foreground: var(--green-11);
	--color-warning-foreground: var(--amber-11);
	--color-destructive-foreground: var(--red-11);

	--color-border: var(--gray-7);
	--color-border-muted: var(--gray-5);
	--color-border-subtle: var(--gray-3);
	--color-border-emphasis: var(--gray-12);
	--color-border-accent: var(--accent-11);
	--color-border-success: var(--green-11);
	--color-border-warning: var(--amber-11);
	--color-border-destructive: var(--red-11);
}

@theme {
	--size-13: 3.25rem;
	--font-inter: Inter, sans-serif;

	--text-heading-xlarge: 2.5rem;
	--text-heading-xlarge--line-height: 3.25rem;
	--text-heading-xlarge--font-weight: 700;
	--text-heading-xlarge--letter-spacing: -0.0125em;

	--text-heading-large: 2.25rem;
	--text-heading-large--line-height: 2.75rem;
	--text-heading-large--font-weight: 700;
	--text-heading-large--letter-spacing: -0.007em;

	--text-heading-medium: 1.75rem;
	--text-heading-medium--line-height: 2.25rem;
	--text-heading-medium--font-weight: 700;
	--text-heading-medium--letter-spacing: -0.007em;

	--text-heading-small: 1.5rem;
	--text-heading-small--line-height: 2rem;
	--text-heading-small--font-weight: 700;
	--text-heading-small--letter-spacing: -0.007em;

	--text-heading-xsmall: 1.25rem;
	--text-heading-xsmall--line-height: 1.75rem;
	--text-heading-xsmall--font-weight: 700;
	--text-heading-xsmall--letter-spacing: 0em;

	--text-label-xlarge: 1.25rem;
	--text-label-xlarge--line-height: 1.75rem;
	--text-label-xlarge--font-weight: 600;
	--text-label-xlarge--letter-spacing: -0.007em;

	--text-label-large: 1.125rem;
	--text-label-large--line-height: 1.5rem;
	--text-label-large--font-weight: 600;
	--text-label-large--letter-spacing: 0em;

	--text-label-medium: 1rem;
	--text-label-medium--line-height: 1.25rem;
	--text-label-medium--font-weight: 600;
	--text-label-medium--letter-spacing: 0em;

	--text-label-small: 0.875rem;
	--text-label-small--line-height: 1.15rem;
	--text-label-small--font-weight: 600;
	--text-label-small--letter-spacing: 0em;

	--text-label-xsmall: 0.75rem;
	--text-label-xsmall--line-height: 1rem;
	--text-label-xsmall--font-weight: 600;
	--text-label-xsmall--letter-spacing: 0em;

	--text-paragraph-large: 1.125rem;
	--text-paragraph-large--line-height: 1.5rem;
	--text-paragraph-large--font-weight: 400;
	--text-paragraph-large--letter-spacing: 0em;

	--text-paragraph-medium: 1rem;
	--text-paragraph-medium--line-height: 1.25rem;
	--text-paragraph-medium--font-weight: 400;
	--text-paragraph-medium--letter-spacing: 0em;

	--text-paragraph-small: 0.875rem;
	--text-paragraph-small--line-height: 1.15rem;
	--text-paragraph-small--font-weight: 400;
	--text-paragraph-small--letter-spacing: 0em;

	--text-paragraph-xsmall: 0.75rem;
	--text-paragraph-xsmall--line-height: 1rem;
	--text-paragraph-xsmall--font-weight: 400;
	--text-paragraph-xsmall--letter-spacing: 0em;

	--shadow-*: initial;
	--shadow-above: 0 -4px 16px 0px rgb(0 0 0 / 0.12);
	--shadow-below: 0 4px 16px 0px rgb(0 0 0 / 0.12);
	--shadow-large-above: 0 -16px 48px 0px rgb(0 0 0 / 0.22);
	--shadow-large-below: 0 16px 48px 0px rgb(0 0 0 / 0.22);

	--radius-*: initial;
	--radius-none: 0;
	--radius-xs: 2px;
	--radius-sm: 4px;
	--radius-md: 6px;
	--radius-lg: 8px;
	--radius-xl: 12px;
	--radius-2xl: 16px;
	--radius-3xl: 20px;
	--radius-4xl: 32px;
	--radius-full: 9999px;
}

@utility container {
	@apply mx-auto max-w-lg px-4;
}

@layer base {
	* {
		@apply border-border outline-border-emphasis/50;
	}
	body {
		@apply bg-surface text-foreground font-inter;
	}
}
